<table class="table table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>Project</th>
    </tr>
  </thead>

  <tbody>
    <% projects.each do |project| %>
      <tr>
        <th scope="row"><a href="<%= project[:target_url] %>"><%= project[:state] %></a></th>
        <td><%= project[:name] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
