<div class="row">
  <div class="col-md-8">
    <h3 class="center">Master:</h3>
    <%= erb :details_master, locals: { commits: @commits } %>
  </div>

  <div class="col-md-4">
    <h3 class="center">Ecosystem:</h3>
    <%= erb :details_ecosystem, locals: { projects: @projects } %>
  </div>
</div>
